@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: "Inter",sans-serif;
}
:root{
    --cor-fundo: #09090b;
    --cor-fundo-segundario: #18181b;
    --cor-branco:#fff;
    --cor-preto:#000;
    --cor-texto:#a1a1aa;
    --cor-destaque:#f7b733;


}
body{
    background-color: var(--cor-fundo);
}
.d-flex{
    display: flex;
}
.container {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
.between{
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 25px 0px;

}
header nav a {
    color:var(--cor-texto);
    margin: 0px 10px;

}

header nav a:hover{
    color: var(--cor-branco);
}
.btn{
    font-size: 1.2em;
    padding: 10px 20px;
    border:1px solid var(--cor-branco);
    border-radius: 5px;
    text-align: center;
}
.btn-primary{
    background-color: var(--cor-branco);
    color: var(--cor-preto);
}
.btn-primary:hover{
    color:var(--cor-branco) !important;
    background-color: transparent !important;
}
.btn-outline{
    color:var(--cor-branco);
    background-color: transparent;
}
.btn-outline:hover{
    background-color: var(--cor-branco) !important;
    color: var(--cor-preto) !important;
}

.column{
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.title{
    font-size: 3em;
    color:var(--cor-branco)

}
.subtitle{
    font-size: 2.5em;
    font-weight: 300;
    color: var(--cor-texto);
    margin-bottom: 40px;
}
.bg-img{
    height: 60vh;
    padding-top: 100px;
    background-image: url(../img/sol.png);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
p{
    color: var(--cor-texto);
}
h3{
    color: var(--cor-destaque);
}
.imagemfooter{
    text-align: center;
    
}